* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

body {
    background-image: url(asset/bg.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.712);
    backdrop-filter: blur(5px);
    border: none;
    width: 350px;
    height: 600px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

/* Search bar */
.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.search input {
    background: none;
    border: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.425);
    color: white;
    margin: 0 8px;
    padding: 2px 2px;
    width: 60%;
    outline: none;
    font-size: 105%;
}

.search input::placeholder {
    color: rgba(255, 255, 255, 0.514);
    text-align: left;
}



/* Main info */
.main-info {
    text-align: center;
    width: 100%;
    padding: 50px 0px;
}

.main-info h1 {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.desc {
    font-size: 100%;
    margin: 4px;
    padding: 0;
}

.weatherIcon {
    font-size: 250%;
    padding: 0;
    margin: 20px 0;
}

.temp {
    font-size: 280%;
    margin: 0;
    padding: 0;
}


/* More info */
.more-info {
    display: flex;
    justify-content: space-evenly;
    border-top: 1.5px solid rgba(255, 255, 255, 0.308);
    font-size: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.more-info-left {
    width: 100%;
    padding-left: 15px;
    font-weight: bold;
}

.more-info-left span {
    font-weight: 300;
}

.more-info-right {
    width: 100%;
    font-weight: bold;
    padding-left: 15px;
    font-weight: bold;
}

.more-info-right span {
    font-weight: 300;

}

/* Change theme btn */
.change-theme {
    padding: 10px 15px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.change-theme:hover {
    background-color: rgba(255, 255, 255, 0.274);
}

.change-theme:active {
    transform: scale(90%);
}


/* Toggle change theme */
.changed {
    background-image: url(./asset/bg2.gif);
}

.container-changed {
    height: 100%;
    border-radius: 0;
    left: 0;
    transform: translate(0%, -50%);
}

@media screen and (max-width: 720px) {
    .container-changed {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}